<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/billingPaymentOptions.css" />
    <script src="https://kit.fontawesome.com/45e3df3f0b.js" crossorigin="anonymous"></script>
    <title>Payment Options</title>
</head>
<body>
    <div class="conteudo">

        <div class="box">

            <div class="boxCima">

                <div class="ttl">
                    <p>Forma de Pagamento :</p>
                </div>

            </div>

            <div class="boxMeio">

                <div class="boxMeioCima">

                    <label for="name">Insira a forma de pagamento: </label>
                    <input type="text" id="name" name="name">

                </div>
                <div class="boxMeioMeio">

                    <label for="name">Insira a data de cadastro: </label>
                    <input type="text" id="name" name="name">

                </div>
                
                <!-- <div class="boxMeioBaixo">

                    <label for="name">Insira a forma de pagamento: </label>
                    <input type="text" id="name" name="name">

                </div>

                <div class="boxMeioBaixoBaixo">

                    <label for="name">Insira a data e hora do pagamento: </label>
                    <input type="text" id="name" name="name">

                </div> -->
            </div>

        </div>

        <div class="submit">
            <button>
                <p>Enviar</p>   
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
</body>

</html>